NEXT_PUBLIC_SUPABASE_URL=https://xxpxvwmlblwsyjfuniix.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4cHh2d21sYmx3c3lqZnVuaWl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzNDUzMDksImV4cCI6MjA3MDkyMTMwOX0.a5wc_kR1g0G3l94si9fSebhhX-Hh6qDzd9fnJJ9cAdQ